@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/* google font   */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* root color  */
:root{
  --blue:#0188df;
  --black:#444d53;
  --wight:#fff;
}

*::selection {
  background : var(--blue);
  color : #fff;
} 

/* custom css  */
*{
  font-family: "Nunito", sans-serif;
  margin: 0; padding: 0;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border : none;
  box-sizing: border-box;
  transition: all linear .2s;
}

a.top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  left: 95%;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  border-radius: 50%;
  border: 2px solid navy;
  background: url(https://www.baolau.com/images/genaral/topbutton_white.png) center center no-repeat #1EA9DC;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

a.top.active {
    bottom: 40px;
    pointer-events: auto;
    opacity: 1;
}   

a.top:hover {
    background-color: antiquewhite;
    transform: translateY(-4px)
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top : 6rem;
  scroll-behavior: smooth;
}

