{% block header%}
<a href="mainPage.html">
    <img class="logo" src="static/images/logo.png" alt="Logo Phòng Khám">
</a>

<!-- navbar link  -->
<nav class="navbar">
    <ul>
        <li><a href="#home">Trang Chủ</a></li>
        <li><a href="#about">Về Chúng Tôi</a></li>
        <li><a href="#doctor">Các Chuyên Gia</a></li>
        <li><a href="#review">Nhận Xét</a></li>
        <li><a href="#contact">Liên Hệ Chúng Tôi</a></li>
        <li><a href="#blog">Bài Viết</a></li>
        <li><a target="_blank" href="/login" class="btn">Đăng Nhập</a></li>
    </ul>
</nav>
<div class="fas fa-bars"></div>
{% endblock %}