{% extends 'layout/base.html' %}
{% block content %}
<!-- To TOP Button-->
<a class="top" href="#"></a>

<!-- To TOP Button -->
<a class="top" href="#"></a>

<!-- Make an arrangement section here -->

<!-- Arrangement section ends -->

<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="static/scriptExe/mainScript.js"></script>

{% endblock %}