{% extends 'layout/base.html' %}
{% block content %}
<!-- To TOP Button-->
<a class="top" href="#"></a>

<!-- To TOP Button -->
<a class="top" href="#"></a>
<!-- home section start  -->
<section class="home" id="home">
    <div class="content">
        <h3>PHÒNG MẠCH TƯ BeSTRONG</h3>
        <p>Be<span>STRONG</span>, hệ thống y tế được tin tưởng nhất Việt Nam</p>
        <a target="_blank" href="/dangKyLich" class="btn">Đặt Lịch Ngay</a>
    </div>
    <div class="controls">
        <span class="img-btn active" data-src="static/images/home_pic1.jpg"></span>
        <span class="img-btn" data-src="static/images/home_pic2.jpg"></span>
        <span class="img-btn" data-src="static/images/home_pic3.jpg"></span>
        <span class="img-btn" data-src="static/images/home_pic4.jpg"></span>
        <span class="img-btn" data-src="static/images/home_pic5.jpg"></span>
    </div>

    <div class="img-container">
        <img src="static/images/home_pic1.jpg" id="image-slider" alt="Amazing adventure">
    </div>
</section>
<!-- home section end  -->

<!-- about section start  -->

<section id="about" class="about">

    <h1 class="heading">
        <span>C</span>
        <span>H</span>
        <span>U</span>
        <span>Y</span>
        <span>Ê</span>
        <span>N</span>
        <span>M</span>
        <span>Ô</span>
        <span>N</span>
    </h1>
    <div><h3 class="title">BeSTRONG cung cấp trọn gói các chuyên môn và dịch vụ,
        nơi hội tụ công nghệ cao cùng với các chuyên gia đầu ngành để cung cấp cho bệnh nhân trải nghiệm tốt nhất</h3>
    </div>

    <div class="box-container">

        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="static/images/chuyenmon-1.jpg" alt="">
            </div>

            <!-- about heading & text  -->
            <div class="content">
                <h3>Tim Mạch</h3>
                <p>Tại các bệnh viện trên khắp hệ thống BeSTRONG, Khoa Tim mạch được đầu tư mạnh và đây là một trong
                    những chuyên khoa chủ lực của chúng tôi. Các bác sĩ và đội ngũ nhân viên khám chữa bệnh được đào tạo
                    chuyên sâu, với bằng cấp tại các cơ sở đào...</p>
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->


        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="static/images/chuyenmon-2.jpg" alt="">
            </div>

            <!-- about heading & text  -->
            <div class="content">
                <h3>Khám Nội Tổng Quát</h3>
                <p>Khoa Nội tổng quát đang không ngừng phát triển lớn mạnh tại BeSTRONG. Nhiều bác sĩ chuyên khoa trong
                    lĩnh vực này đang công tác tại một số phòng khám BeSTRONG. Thông qua hoạt động đào tạo và nghiên cứu
                    quốc tế, các bệnh viện của chúng tôi áp dụng...</p>
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->


        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="static/images/chuyenmon-3.jpg" alt="">
            </div>

            <!-- about heading & text  -->
            <div class="content">
                <h3>Khám Sản Phụ</h3>
                <p>Tại BeSTRONG, chúng tôi hiểu rằng mỗi phụ nữ lại có những mối quan tâm riêng về chăm sóc sức khỏe
                    theo từng giai đoạn trong cuộc đời. Với nỗ lực trở thành một phần trong hành trình trọn đời này,
                    mạng lưới bệnh viện của chúng tôi đã phát triển một hệ...</p>
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- start here  -->
        <div class="box">
            <!-- about images  -->
            <div class="images">
                <img src="static/images/chuyenmon-4.jpg" alt="">
            </div>

            <!-- about heading & text  -->
            <div class="content">
                <h3>Chấn thương chỉnh hình</h3>
                <p>Khoa Chỉnh hình của chúng tôi có nhiệm vụ khám chữa các rối loạn về xương, khớp và hệ thống cơ xương
                    ở cả trẻ em và người lớn. Chúng tôi tin rằng “Sống là phải vận động”. Khoa Chỉnh hình của chúng tôi
                    được trang bị đầy đủ, hiện đại với đội ngũ chuyên gia</p>
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->
        <!-- end here  -->
    </div>
</section>

<!-- about section end  -->

<!-- Video section starts -->
<section class="amount" id="amount">
    <div class="section__amount">
        <video id="gradient-video" autoplay="" muted="" loop="" playsinline="" data-keepplaying="">
            <source src="https://hoanmy.com/wp-content/themes/tot-bvhoanmy/assets/videos/gradient-ramp.mp4"
                    type="video/mp4">
        </video>
        <!-- Text in the video -->
        <div class="overlay-text">
            <h2><span>Những</span> <br> con số </br> <span>Ấn tượng</span></h2>
            <div class="stats">
                <div class="stat">
                    <span class="number">3</span>
                    <span class="label">Bệnh viện và phòng khám</span>
                </div>
                <div class="stat">
                    <span class="number">200</span>
                    <span class="label">Giường bệnh</span>
                </div>
                <div class="stat">
                    <span class="number">500</span>
                    <span class="label">Nhân viên</span>
                </div>
                <div class="stat">
                    <span class="number">1 triệu</span>
                    <span class="label">Lượt thăm khám hàng năm</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video section ends -->

<!-- card section start  -->

<section id="doctor" class="card">

    <div class="container">

        <h1 class="heading">
            <span>C</span>
            <span>H</span>
            <span>U</span>
            <span>Y</span>
            <span>Ê</span>
            <span>N</span>
            <span>G</span>
            <span>I</span>
            <span>A</span>
        </h1>
        <h3 class="title">Các vị chuyên gia của chúng tôi</h3>

        <div class="box-container">

            <!-- start here  -->
            <div class="box">
                <img src="static/images/doctor-1.jpg" alt="">

                <div class="content">
                    <a href="#">
                        <h2>Dr.Faker</h2>
                    </a>
                    <p>professional</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <!-- end here  -->

            <!-- start here  -->
            <div class="box">
                <img src="static/images/doctor-2.jpg" alt="">

                <div class="content">
                    <a href="#">
                        <h2>Dr.Thang</h2>
                    </a>
                    <p>professional</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <!-- end here  -->

            <!-- start here  -->
            <div class="box">
                <img src="static/images/doctor-3.jpg" alt="">

                <div class="content">
                    <a href="#">
                        <h2>OngNhoConDiemMyQua</h2>
                    </a>
                    <p>professional</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <!-- end here  -->
            <!-- start here  -->
            <div class="box">
                <img src="static/images/doctor-4.jpg" alt="">

                <div class="content">
                    <a href="#">
                        <h2>Dr.Johny Sins</h2>
                    </a>
                    <p>professional</p>

                    <!-- card icons  -->
                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <!-- end here  -->


        </div>
    </div>
</section>
<!-- card section end  -->

<!-- review section begins -->

<section class="review" id="review">
    <h1 class="heading">
        <span>N</span>
        <span>h</span>
        <span>ậ</span>
        <span>n</span>
        <span>x</span>
        <span>é</span>
        <span>t</span>
    </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/doctor-2.jpg" alt="customer">
                    <h3>Anh Thang Ngot</h3>
                    <p>Indulging in a journey orchestrated by this travel agency was a masterstroke. Their meticulous
                        planning, insider knowledge, and unwavering dedication transformed our trip into a magnificent
                        odyssey.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/dophuqui.jpg" alt="customer">
                    <h3>Anh Do Phu Qui</h3>
                    <p>Indulging in a journey orchestrated by this travel agency was a masterstroke. Their meticulous
                        planning, insider knowledge, and unwavering dedication transformed our trip into a magnificent
                        odyssey.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/doctor-4.jpg" alt="customer">
                    <h3>Anh Johny Sins</h3>
                    <p>With this agency, our travel ambitions were nurtured into reality. Their adeptness in crafting
                        bespoke itineraries, seamless logistics, and genuine care for our experience made us feel like
                        honored guests on a journey of discovery.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/doctor-3.jpg" alt="customer">
                    <h3>Thay Ong Noi</h3>
                    <p>Choosing this travel agency elevated our travel game to new heights. Their profound expertise,
                        innovative ideas, and commitment to quality turned every moment of our trip into an
                        extraordinary encounter.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/jack.jpg" alt="customer">
                    <h3>Dom dom - Meow Meow - J97</h3>
                    <p>Exploring the world with this bus tour agency was a revelation. Their deep-rooted connections,
                        insider insights, and commitment to delivering transformative experiences showcased their
                        prowess in the art of travel curation.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="static/images/doctor-1.jpg" alt="customer">
                    <h3>Anh Mid</h3>
                    <p>Our journey with this bus agency unfolded like a carefully composed symphony. Their harmonious
                        blend of exploration, cultural immersion, and personalized service ensured each note resonated
                        with beauty and authenticity.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section start  -->

<section id="contact" class="contact">

    <h1 class="heading">Liên Hệ Chúng tôi</h1>
    <h3 class="title">bạn có thể liên hệ chúng tôi bất cứ lúc nào</h3>

    <div class="row">

        <!-- form images  -->
        <div class="images">
            <img src="static/images/form.png" alt="">
        </div>

        <div class="form-container">

            <input type="text" placeholder="Họ và Tên" name="" id="">
            <input type="email" placeholder="Email của bạn" name="" id="">

            <input type="number" placeholder="Số điện thoại" name="" id="">
            <textarea name="" cols="30" rows="10" id=""></textarea>
            <input type="submit" value="Gửi">
        </div>
    </div>
</section>


<!-- contact section end  -->


<!-- blog section start  -->

<section id="blog" class="blog">

    <h1 class="heading">
        <span>B</span>
        <span>L</span>
        <span>O</span>
        <span>G</span>
    </h1>
    <h3 class="title">Tổng hợp tin tức gần đây nhất</h3>

    <div class="box-container">

        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="static/images/blog 1.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>Bệnh Tiểu Đường</h2>
                </a>
                <p>Tiểu đường là thuật ngữ dùng để đề cập tới một nhóm bệnh gây ảnh hưởng đến cách cơ thể sử dụng lượng
                    đường trong máu.</p>
                <!-- button  -->
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->


        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="static/images/blog 2.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>Covid-19</h2>
                </a>
                <p>là một bệnh đường hô hấp cấp tính truyền nhiễm gây ra bởi chủng virus corona SARS-CoV-2 và các biến
                    thể của nó.</p>
                <!-- button  -->
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->


        <!-- start here  -->
        <div class="box">
            <!-- images  -->
            <img src="static/images/blog 3.png" alt="">

            <div class="content">
                <a href="#">
                    <h2>Phòng Tránh Dịch Bệnh</h2>
                </a>
                <p>Việc phòng chống bệnh truyền nhiễm không chỉ giúp cho cá nhân ngăn ngừa bệnh và tránh các tổn hại do
                    bệnh nhiễm trùng gây ra.</p>
                <!-- button  -->
                <a href="#">
                    <button class="button">Đọc Thêm</button>
                </a>
            </div>
        </div>
        <!-- end here  -->
    </div>
</section>


<!-- blog section end  -->


<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="static/scriptExe/mainScript.js"></script>

{% endblock %}